& {
  --color-primary: #216ABE;
  --color-link: #0085E7;
  --color-body: #222;
  --color-secondary: #686868;
  --font-family: 'Figtree', 'Open Sans', 'Helvetica Neue', Helvetica, Roboto, Arial, sans-serif;

  .welcome-back {
    font-family: var(--font-family);
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin: 16px 20px 40px 20px;

    h4 {
      color: var(--color-secondary);
      font-size: 18px;
      font-weight: 700;
      line-height: 26px;
      margin-top: 0px;
      margin-bottom: 8px;
    }

    p {
      color: var(--color-secondary);
      font-size: 14px;
      font-weight: 400;
      line-height: 19px;
      margin: 0;
    }

    .edit {
      cursor: pointer;
      color: var(--color-primary);
      font-size: 16px;
      font-weight: 700;
      text-decoration-line: underline;
      text-decoration-style: solid;
      text-decoration-skip-ink: auto;
      text-decoration-thickness: auto;
      text-underline-offset: auto;
      text-underline-position: from-font;
    }

    .edit::after {
      content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="14" viewBox="0 0 10 14" fill="none"><path d="M9.58856 1.11177L7.95656 0.12915C7.54482 -0.11847 7.00243 0.000720175 6.74304 0.394786L6.09988 1.37556L9.22118 3.25396L9.86482 2.27411C10.1232 1.87912 10.0003 1.35893 9.58856 1.11177ZM0.546733 9.8496L3.66803 11.7271L8.75496 3.96771L5.63174 2.08839L0.546733 9.8496ZM0 14L3.14299 12.4085L0.131621 10.5948L0 14Z" fill="%23216ABE" /></svg>');
      fill: var(--color-primary);
      height: 14px;
      margin-left: 5px;
    }

    .edit:hover {
      filter: brightness(1.1);
    }

  }

  [data-welcome-back="false"] {
    .welcome-back {
      display: none !important;
    }
  }
}